:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #646aff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #343a40;
  --font-size-base: 16px;
  --padding-base: 1rem;
  --main-color: f4f5fa;
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  --color-background: #fafafa;
  --color-foreground: #1f2023;
}
@media (prefers-color-scheme: dark) {
  body {
    --color-background: #1f2023;
    --color-foreground: #efefef;
  }
}
body.dark {
  --color-background: #1f2023;
  --color-foreground: #efefef;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}
.sidebar {
  width: 250px;
  padding: 20px 10px;
  background-color: #fdfdfd;
  border-right: 1px solid #f0ebeb;
}
.brand {
  font-size: 40px;
  font-weight: 800;
  width: 100%;
  /* background-color: #b7b7bd48; */
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.sidebar ul {
  padding: 0;
  width: 100%;
}
.sidebar ul li {
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 6px;
}
.sidebar ul li.active {
  background-color: var(--primary-color);
}
.sidebar ul li.active a {
  color: var(--background-color);
}

.sidebar ul li a {
  text-decoration: none;
  font-family: var(--font-family);
  display: flex;
  justify-content: flex-start;
  place-items: center;
  gap: 10px;
  font-size: 18px;
  color: #111;
}

#main {
  background-color: var(--background-color);
  width: calc(100% - 250px);
  font-family: var(--font-family);
  height: 100%;
}
main {
  width: 100%;
  background-color: #6469ff08;
  height: 100%;
  padding: 10px;
}

.watched {
  background-color: red;
}
.watched img {
  width: 100%;
}
.movieList {
  width: 100%;
}
.movieList ul {
  padding: 0;
  list-style: none;
}
.movieList ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #0e6ce7;
  color: #fff;
}

.movie h3 {
  font-size: 15px;
}
.movie img {
  max-width: 80px;
  object-fit: contain;
}
.content {
  margin-left: 10px;
  padding: 0;
}
.content h3 {
  margin: 0;
}
.movie-detail {
  background-color: #ecf2f9;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.157);
}
.back-btn {
  background-color: transparent;
  border: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e5caca;
  font-size: 14px;
}
.movie-detail header {
  background-color: #0e6ce7;
  padding: 8px 5px;
  color: #fff;
}
.details-overlay {
  padding: 10px;
}
.list-of-watched {
  list-style: none;
  padding: 0;
}
.list-of-watched li {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #010d1cbd;
}
.list-of-watched li img{
  width: 100px;
}